body {
    margin: 164px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAF9;
}

.card {
    border-left: 164px;
    width: 368px;
    border-radius: 16px;
    border: 16px solid #FFFFFF;
    
    box-shadow: 0px 30px 100px 0px rgba(17, 0, 0, 0.1);
    margin: 16px;
    
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    
  }
 
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 1,125rem;
    font-family: "Sora", sans-serif;
    color: #20293A;
  }
  
  .card-description {
    font-size: 14px;
    margin-bottom: 0.875rem;
    font-family: 'Sora' , sans-serif;
    color: #6C727F;
    
  }
  
  
  .card-tag {

    display: inline-block;
    background-color: #E6D6FC;
    color: #883AE1;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0,75rem;
    font-family: 'Sora' , sans-serif;
  }

  .separador {
    
    width: 100%;
    background-color: black;
  }

  .card-perfil {
    font-size: 10px;
    margin-bottom: 0,75rem;
    font-family: 'Sora' , sans-serif;
   color: #6C727F;
    box-shadow: 0px 30px 100px 0px rgba(17, 0, 0, 0.1);
    margin: 16px;
  }

  